.blue{
	color:white;
	background:#2980b9;
}
.green{
	color:white;
	background-color:#27ae60;
}
.orange{
	color:white;
	background:#d35400;
}
.red{
	color:white;
	background:#c0392b;
}
.voilet{
	color:white;
	background:#8e44ad;
}
.cloud{
	background:#ecf0f1;
}
.white{
	background:white;
}